.dashboard-container {
    display: flex;
    flex-direction: column; /* metrics on top, with form and chart sections below */
    gap: 10px; /* Space between results container and form/chart sections */
    padding: 25px;
    font-family: Arial, sans-serif;
    height: 100vh; 
  }
  
  /* results containter section */
  .results-container {
    display: flex;
    justify-content: space-between; /* Spread the groups side by side */
    align-items: flex-start; /* Align items at the top */
    gap: 10px; /* Space between the two groups */
    padding: 20px;
    background-color: #fbf7f7; 
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    /* transition: opacity 0.3s ease; */
  }
  
  .results-group {
    display: flex;
    flex-direction: column; /* Stack the metrics inside each group */
    align-items: left; /* Center-align the content */
    flex: 1; /* Ensure equal space for both metric groups */
    padding: 15px;
    /* background-color: #ffffff; */
    border-radius: 5px;
  }
  
  .results-group h3 {
    font-size: 25px;
    margin-bottom: 5px;
    text-align: left;
    margin-top: 5px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }
  
  .probability {
    text-align: center;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    /* background-color: #ffffff; */
    margin-bottom: 10px; /* Space between each of the [probability */
  }
  
  .probability h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .probability p {
    margin: 5px 0 0;
    font-size: 25px;
    font-weight: bold;
    color: black;
  }
  
  .divider-line {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
  }
  
  /* main content form and chart section */
  .main-content {
    display: flex;
    justify-content: space-between; /* form and chart side by side */
    gap: 20px; /* Space between form and chart sections */
    flex: 1;
  }
      
    /* Form section */
    .form-section {
      flex: 1;
      display: flex;
      flex-direction: column; /* Restrict form section width */
      padding: 50px;
    }
  
    h2 {
      font-size: 20px;
      font-weight: normal;
      text-align: left;
      font-family: Georgia, 'Times New Roman', Times, serif

    }
  
    .input-field {
      height: 40px;
      padding: 10px;
      font-size: 16px;
      text-align: left;
      border-radius: 5px;
      border: 1px solid #ccc;
      color: gray;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  
    .selected-codes-container {
      margin-top: 10px;
    }
  
    .selected-codes {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
    }
  
    .selected-code {
      background-color: #e3f2fd;
      padding: 5px 10px;
      margin: 5px;
      border-radius: 5px;
      display: flex;
      align-items: center;
    }
    .selected-code button {
      margin-left: 8px;
      border: none;
      background: none;
      cursor: pointer;
      color: red;
    }
  
    .predict-btn {
      font-size: 16px; 
      font-weight: bold;
      background-color:#29b6f6;
      color: white;
      margin-top: 20px;
      border: none;
      /* padding: 12px 25px; */
      border-radius: 10px;
      height: 50px;
      width: 400px;
      font-family: Georgia, 'Times New Roman', Times, serif
    }
  
    /* Chart section */
    .chart-section {
      display: flex;
      flex-direction: column; /* Arrange items side by side */
      align-items: left; /* Align items in the center */
      /* width: 100%; */
      max-width: 800px; /* Adjust max width */
      margin-top: 40px;
      
  }
    
    /* Adjust chart sizes */
    .chart {
      width: 100%; /* Match width of the form */
      max-width: 1200px; /* Prevent excessive stretching */
      height: 400px; /* Adjust height */
      border: 1px solid transparent;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 70px;
      margin-right: 1000px;
  }
  
    .input-container {
      display: flex;
      align-items: center;
    }
    
    .predict-btn:hover {
      background-color: #0288d1;
    }
    
    .form-section .input-container,
    .form-section .input-field,
    .form-section select {
      width: 400px; 
      /* max-width: 400px;  */
      height: 60px; 
      box-sizing: border-box; /* Ensure padding and border are included in the width/height */
  }
  
  .error-message {
      color: red;
      font-size: 12px;
      margin-top: 5px;
      margin-bottom: 20px; /* Adjust spacing between input and error message */
      text-align: left;
    }
  
    .loading-overlay {
      position: fixed; 
      top: 0;
      left: 0; 
      width: 100vw;
      height: 100vh; 
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999;
    }
    
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .dashboard-container {
      flex-direction: column; /* Stack all sections vertically on smaller screens */
    }
  
    .results-container {
      flex-direction: column; /* Stack metric cards on small screens */
    }
  
    .probability {
      margin: 10px 0; /* Add vertical spacing between metric cards */
    }
  
    .main-content {
      flex-direction: column; /* Stack form and chart sections vertically */
    }
  
    .form-section,
    .chart-section {
      max-width: 100%; /* Allow sections to take full width */
    }
    }